@use "css-template/import" as template;

@include template.init(
  $themes: (
    "dark": template.$theme-dark-definition,
  ),
  $custom-colors: (
    "board": (
      "dark": template.theme-dark-paper(20),
    ),
    "error": (
      "dark": hsl(0, 80%, 60%),
    ),
    "error-hover": (
      "dark": hsl(0, 90%, 65%),
    ),
    "error-active": (
      "dark": hsl(0, 70%, 55%),
    ),
    "brown": (
      "dark": #a04921,
    ),
    "light-blue": (
      "dark": #4ca6ff,
    ),
    "pink": (
      "dark": #d81fb9,
    ),
    "orange": (
      "dark": #fa7c14,
    ),
    "red": (
      "dark": #dd1919,
    ),
    "yellow": (
      "dark": #c2a818,
    ),
    "green": (
      "dark": #3c8512,
    ),
    "dark-blue": (
      "dark": #4b48d6,
    ),
  )
);

@include template.theme-dark-base;

:root {
  font-family: Optima, Candara, "Noto Sans", source-sans-pro, sans-serif;
}
