@use "@/assets/css-template/import" as template;

@mixin big-button {
  @include template.content-text;
  padding: 1rem;
  align-items: center;
  p {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
  }
}

@mixin small-button {
  @include template.content-text;
  padding: 1rem;
  align-items: center;
  p {
    text-align: center;
  }
}
